
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
body {
   background-color: #D1E8FF;
   margin: 0px;
}

h1 {
   color: #000000;
   text-align: center;
   font-size: 60px;
}

h2 {
   color: #000000;
   text-align: center;
   font-size: 45px;
}

p {
   font-family: verdana;
   font-size: 30px;
}

footer {
   text-align: center;
   font-size: 100px;
   background-color: #E3D7FF;
   position: fixed;
   bottom: 0px;
   width: 100%;
}

header {
   text-align: center;
   font-size: 100px;
   background-color: #E3D7FF;
   border: 2px solid black;
}

button {
   font-size: 100px;
   font-family: "Cherry Bomb One", system-ui;
   font-weight: 400;
   background-color: #E3D7FF;
   border: 0px solid black;
}

.pinkText {
   font-family: "Story Script", sans-serif;
   text-align: center;
   background-color: #ff6e99;
   color: white;
   border: 2px solid black;
   border-radius: 25px;
   padding: 20px;
}

.ts {
   text-align: center;
}

.flex {
   display: flex;
}